<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SenderEndpointName" value="NsbSender"/>
    <add key="ReceiverEndpointName" value="NsbReceiver"/>
    <add key="ErrorQueue" value="error"/>
    <add key="AuditQueue" value="audit"/>
    <add key="InstanceMappingFile" value="instance-mapping.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;database=NsbReceiver;Integrated Security=True;Application Name=NsbReceiver" />
  </connectionStrings>
</configuration>