<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SenderEndpointName" value="NsbSender"/>
    <add key="ReceiverEndpointName" value="NsbReceiver"/>
    <add key="ErrorQueue" value="error"/>
    <add key="AuditQueue" value="audit"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;database=NsbSender;Integrated Security=True;Application Name=NsbSender" />
  </connectionStrings>
</configuration>